p 
{
  text-align: center;
}
div 
{
  border: 1px solid;
}
.frame
{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  height: 80vh;
}
.keyboard
{
  flex-grow: 2;
  display: flex;
}
.numbers
{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.operators
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.display
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.expressions
{
  border: none;
  flex-grow: 1;
  outline: none;
  font-size: 30px;
}
.result
{
  border: none;
  flex-grow: 1;
}
.row
{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
.key
{
  flex-grow: 1;
  border: 1px solid;
  justify-content: space-around;
}