*
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vmin;
  color: aliceblue;
  background-color: black;
}
p 
{
  text-align: center;
}
div 
{
  border: 0.2vmin solid;
}
.frame
{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vmax;
  height: 80vmin;
  max-width: 90vw;
  max-height: 90vh;
  border: none;
  gap: 0.2vmin;
}
.keyboard
{
  flex-grow: 1.5;
  display: flex;
  border: none;
}
.numbers
{
  border-right: none;
  border-top: none;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.operators
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: none;
}
.display
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.display:focus-within
{
  border: none;
  outline: 0.2vmin solid aqua;
  overflow: visible;
}
.expressions
{
  border: none;
  flex-grow: 3;
  outline: none;
  caret-color: transparent;
  text-align: right;
  padding: 3%;
}
.result
{
  min-height: 1lh;
  border: none;
  flex-grow: 1;
  text-align: right;
  padding: 3%;
}
.keyboard > div > div
{
  max-height: 20%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  border: none;
}
.keyboard button
{
  max-width: 30%;
  flex: 1 1 0;
  background-color: black;
  font-size: 80%;
  padding: 0.2vmin;
  border: 0.2vmin solid;
}
.keyboard button:active
{
  background-color: aliceblue;
}