*
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: aliceblue;
  background-color: black;
}
p 
{
  text-align: center;
}
div 
{
  border: 1px solid;
}
.frame
{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  height: 80vh;
  border: none;
  gap: 1px;
}
.keyboard
{
  flex-grow: 1.5;
  display: flex;
  border: none;
}
.numbers
{
  border-right: none;
  border-top: none;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.operators
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: none;
}
.display
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.display:focus-within
{
  border: none;
  outline: 1px solid aqua;
  overflow: visible;
}
.expressions
{
  border: none;
  flex-grow: 3;
  outline: none;
  caret-color: transparent;
  text-align: right;
  padding: 3%;
}
.result
{
  border: none;
  flex-grow: 1;
  text-align: right;
  padding: 3%;
}
.row
{
  max-height: 20%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  border: none;
}
.key
{
  max-width: 30%;
  flex: 1 1 0;
  background-color: black;
  font-size: 30px;
  padding: 1px;
  border: 1px solid;
}
.key:active
{
  background-color: aliceblue;
}